.explore-wrapper {
    padding: 50px 100px;

    h1 {
        text-align: center;
    }

    .search-wrapper {
        width: 50%;
        margin: 0 auto;
        input {
            text-align: left;
        }
    }
}
