@import "../../assets/styles/settings";

.explore-wrapper {
    padding: 50px 100px;

    h1 {
        text-align: center;
    }

    .search-wrapper {
        width: 50%;
        margin: 0 auto;
        input {
            text-align: left;
        }
    }

    .container {
        margin-top: 70px;
        @include flex(column);

        input,
        textarea {
            border-radius: 10px;
            background-color: $gray-t;
            padding: 10px 20px;
            border: none;
            outline: none;
            width: 50%;
            display: block;
            margin: 0 auto;
            color: gray;

            &:focus {
                background-color: $gray-l;
                color: black;
            }
        }

        textarea {
            height: 200px;
        }
    }

    table {
        margin-top: 20px;
        @include flex(column);

        td {
            padding: 20px 50px;
            @include flex();

            input {
                padding: 5px 10px;
                margin-left: 10px;
            }
        }
    }

    fieldset {
        width: 50%;
        margin: 0 auto;
        padding: 20px;
    }
}
