{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Todo</title>
  <link rel="stylesheet" href="{% static 'styles/base.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/navbar.css' %}" />

  {% block css %}

  {% endblock %}

  <!--   
        CRUD  ->  Create Read Update Delete
      -->
</head>

<body>
  <div id="messsages">
    {% bootstrap_messages %}
  </div>
  <section>
    {% include 'navbar.html' %}

    <main class="content">
      {% block content %}

      {% endblock %}
    </main>
  </section>


  {% block scripts %}
  {% endblock scripts %}
</body>

</html>