.collections {
    h1 {
        text-align: center;
        margin-top: 150px;
        margin-bottom: 100px;
    }
    
    .cards {
        margin: 0 150px;
        
        .card1 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            width: 480px;
            height: 300px;
            border-radius: 10px;
            box-shadow: 3px 3px 8px lightgray;

            div:first-child {
                img {
                    width: 210px;
                    height: 260px;
                    margin: 20px;
                }
            }

            div:last-child {
                margin-right: 30px;

                img:first-child {
                    width: 35.73px;
                    height: 35.73px;
                    margin-top: 25px;
                }

                .galochka {
                    position: absolute;
                    width: 11px;
                    height: 11px;
                    margin-top: 25px;
                    margin-left: -22px;
                }

                h3 {
                    font-size: 14px;
                    margin-top: -40px;
                    margin-left: 60px;
                }

                h2 {
                    font-size: 28px;
                    margin-top: 20px;
                }

                .desc {
                    font-size: 12px;
                    color: #6B6B6B;
                    font-weight: 400;
                }

                p {
                    font-size: 12px;
                    margin-top: 10px;
                }

                .bottom-part {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 10px;

                    div:first-child {
                        small {
                            margin-top: 20px;
                            width: 64px;
                            font-size: 12px;
                            color: #6B6B6B;
                        }

                        img {
                            width: 9px;
                            height: 15px;
                            margin-top: 40px;
                            margin-left: -60px;
                        }

                        p {
                            margin-top: 40px;
                            font-weight: 700;
                        }
                    }

                    div:last-child {
                        small {
                            position: absolute;
                            margin-top: 10px;
                            width: 35px;
                            font-size: 12px;
                            color: #6B6B6B;
                        }

                        p {
                            font-weight: 700;
                            margin-top: 30px;
                        }

                    }

                }

                .red-btn {
                    width: 200px;
                    margin-top: -15px;
                }
            }
        }
        .card2 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            width: 480px;
            height: 300px;
            border-radius: 10px;
            box-shadow: 3px 3px 8px lightgray;

            div:first-child {
                img {
                    width: 210px;
                    height: 260px;
                    margin: 20px;
                }
            }

            div:last-child {
                margin-right: 30px;

                img:first-child {
                    width: 35.73px;
                    height: 35.73px;
                    margin-top: 25px;
                }

                .galochka {
                    position: absolute;
                    width: 11px;
                    height: 11px;
                    margin-top: 25px;
                    margin-left: -22px;
                }

                h3 {
                    font-size: 14px;
                    margin-top: -40px;
                    margin-left: 60px;
                }

                h2 {
                    font-size: 28px;
                    margin-top: 20px;
                }

                .desc {
                    font-size: 12px;
                    color: #6B6B6B;
                    font-weight: 400;
                }

                p {
                    font-size: 12px;
                    margin-top: 10px;
                }

                .bottom-part {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 10px;

                    div:first-child {
                        small {
                            margin-top: 20px;
                            width: 64px;
                            font-size: 12px;
                            color: #6B6B6B;
                        }

                        img {
                            width: 9px;
                            height: 15px;
                            margin-top: 40px;
                            margin-left: -60px;
                        }

                        p {
                            margin-top: 40px;
                            font-weight: 700;
                        }
                    }

                    div:last-child {
                        small {
                            position: absolute;
                            margin-top: 10px;
                            width: 35px;
                            font-size: 12px;
                            color: #6B6B6B;
                        }

                        p {
                            font-weight: 700;
                            margin-top: 30px;
                        }

                    }

                }

                .red-btn {
                    width: 200px;
                    margin-top: -15px;
                }
            }
        }
    }
}