@import "../../assets/styles/settings";

.about-page {
    overflow: hidden;
    padding: 50px 0;

    section {
        .about-company {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .left {
                .intro {
                    color: gray;
                    letter-spacing: 1px;
                    margin-bottom: 20px;
                }
                h1 {
                    margin-bottom: 20px;
                    width: 480px;
                }
                text-align: left;
                padding: 20px 100px 20px 200px;
                font-family: sans-serif;
                margin-top: 50px;
            }
            .right {
                width: 450px;
                position: relative;
                left: 20%;
                @include flex();

                img:not(img.about-pic) {
                    background-color: $light;
                    border-radius: 50%;
                    position: absolute;
                }
                .player-pic {
                    padding: 10px;
                    width: 45px;
                    height: 45px;
                    right: -20px;
                    top: 50px;
                }
                .music-pic {
                    padding: 15px;
                    width: 55px;
                    height: 55px;
                    top: -25px;
                    left: 50px;
                }
                .paint-pic {
                    padding: 20px;
                    width: 85px;
                    height: 85px;
                    left: -45px;
                    bottom: 80px;
                }
            }
        }
    }
}

.about-page.dark {
    section {
        background-color: black;
        color: snow;
        .about-company {
            padding: 100px 0;
            @include wave(black, black, 45deg);
            background: linear-gradient(black, $themeDark-l);
        }
        .joining {
            background-color: $themeDark-l;
        }
        padding-bottom: 20px;
    }
}
