@import "../../../assets/styles/settings";

.search-input {
    background-color: #f3f3f3;
    @include grid();
    grid-template-columns: 15px 1fr;
    padding: 5px 5px 5px 10px;
    border-radius: 10px;
    margin-left: 20px;

    img {
        position: relative;
        top: 2px;
    }

    input {
        border-radius: 6px;
        background-color: #f3f3f3;
        color: black;
        padding: 5px 10px;
        border: none;
        outline: none;

        &::placeholder {
            color: #a0a0a0;
        }
    }
}
