@import "../../../assets/styles/settings";

// accordion-wrapper
// accordion-item
// accordion-title
// arrow
// accordion-content opened
// accordion-content

.accordion-wrapper {
    width: 100%;
    margin-bottom: 10px;

    .accordion-item {
        border-radius: 50px;

        * {
            transition: 0.5s;
        }

        .accordion-title {
            border-radius: 50px;
            padding: 2px 35px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            background-color: $light;
            box-shadow: 0 1px 15px $gray-t;
        }

        .accordion-content-opened {
            padding: 10px 35px;
            border-radius: 50px;
            max-height: auto;
        }
        .accordion-content-closed {
            max-height: 0;
        }
        .content {
            margin-top: 10px;
            overflow: hidden;
        }
    }
}
