@import "../../../assets/styles/settings";

// accordion-wrapper
// accordion-item
// accordion-title
// arrow
// accordion-content opened
// accordion-content

.accordion-wrapper {
    width: 100%;

    .accordion-item {
        border-radius: 50px;

        .accordion-title {
            border-radius: 50px;
            padding: 2px 35px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            background-color: $light;
            box-shadow: 0 1px 15px $gray-t;
        }

        .accordion-content-opened {
            padding: 20px 35px;
            background-color: transparent;
            height: auto;
        }
        .accordion-content-closed {
            height: 10px;
            opacity: 0;
        }
    }
}
