.explore-wrapper{
    width: 1500px;
    margin: 0 auto;
    h1{
        float: left;
    }
    select{
        // float: right;
        display: inline-block;
        font-weight: bold;
        font-size: 1.2em;
        padding: 15px 25px;
        border-radius: 25px;
    }
    .cards{
        @include grid();
    }
}