@import "./settings";

.todos-wrapper {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    height: 80vh;
    overflow: auto;

    .todo {
        border-radius: 10px;
        padding: 20px 20px 50px 20px;
        font-family: Arial, sans-serif;
        display: inline-block;
        overflow: hidden;
        width: 370px;
        height: 250px;
        position: relative;

        .todo-content {
            // hide text after 4 lines
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;

            .todo-title-time {
                @include flex-center(space-between, flex-start, 5px);

                .todo-created-time {
                    width: 38%;
                }
            }
        }

        &.new-todo {
            background-color: lightgrey;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }

    .todo-footer {
        display: block;
        position: absolute;
        right: 10px;
        bottom: 0;
        height: 40px;

        a {
            display: inline-block;
        }
    }

    pre {
        font-family: monospace;
    }


}