@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

header {
    nav {
        @include flex(row, space-between, center);
        padding: 50px 200px;

        a {
            padding: 10px 20px;
            border: none;
            outline: none;
        }

        .left-nav,
        .right-nav {
            @include flex(row, center, center);
        }
    }
}
