@import "../../assets/styles/settings";

header {
    nav {
        // @include flex(direction, justify, align, 20px);   ->   specific values
        @include flex(row, space-between, center);
        padding: 50px 200px;

        a {
            padding: 10px 20px;
            border: none;
            outline: none;
        }

        .left-nav,
        .right-nav {
            @include flex(row, center, center);
        }
    }
}
