@import "../../../assets/styles/settings";
.card-wrapper-explore {
    background-color: $gray-l;
    color: $dark;
    padding: 10px 10px 25px 10px;
    height: 375px;
    border-radius: 10px;

    & > img {
        width: 100%;
        height: 69%;
        margin-bottom: 15px;
    }
    .card-bottom {
        height: 100px;
        @include flex(row, space-between, center, flex-end);
        .left {
            @include flex(row, space-between, center);
            font-weight: bold;
            position: relative;
            img:not(:first-child) {
                position: absolute;
                left: 25px;
                top: -2px;
            }
            img:first-child {
                width: 35px;
            }
        }
        .right {
            @include flex(column, space-between, center);
            color: inherit;

            .right-name {
                color: $gray;
            }

            .right-price {
                @include flex(row, space-between, center);
                color: inherit;
                font-weight: bold;
            }
        }
    }
}

.card-wrapper-explore.dark {
    background-color: $dark;
    color: snow;
}
