{% extends 'skeleton.html' %}



{% block content %}
<style>
    .todos-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        margin: 20px 0;
    }

    .todos-wrapper .todo {
        border-radius: 10px;
        padding: 20px;
        font-family: Arial, sans-serif;
    }

    .todos-wrapper .todo pre {
        font-family: monospace;
    }

    .new-todo {
        background-color: lightgrey;
        width: 270px;
        height: 150px;
        border-radius: 10px;
    }
    .new-todo > div > svg {
        position: relative;
        top: 50px;
        left: 110px;
        width: 50px;
        height: 50px;
    }
</style>


<h1>Sticky Wall</h1>

<div class="todos-wrapper">
    {% for todo in todos %}
    <div class="todo" style="background-color: {{todo.background_color}}; color: {{ todo.text_color }}">
        <h2>{{ todo.title }}</h2>
        <pre>
{{ todo.description }}
                </pre>
    </div>
    {% endfor %}

    <div class="todo">
        {% comment %} ... {% endcomment %}
    </div>
</div>
<div class="new-todo">
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
        </svg>
    </div>
</div>


{% endblock %}