{% extends 'skeleton.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'styles/sticky_wall.css' %}" />
{% endblock %}

{% block content %}
  <h1>Sticky Wall</h1>

  <div class="todos-wrapper">
    {% for todo in todos %}
      <div class="todo" style="background-color: {{ todo.background_color }}; color: {{ todo.text_color }}">
        <div class="todo-content">
          <div class="todo-title-time">
            <h2 class="todo-title">{{ todo.title }}</h2>
            <p class="todo-created-time">
              <b>Created at:</b>
              {{ todo.created_at|date:"F j" }}
            </p>
          </div>
          <p>{{ todo.description }}</p>
        </div>
        
        <div class="todo-footer">
          <a href="{% url 'todo_details' todo.id %}" class="btn btn-success btn-sm">View</a>
          <a href="{% url 'update_todo' todo.id %}" class="btn btn-primary btn-sm">Update</a>
          <a href="#" class="btn btn-danger btn-sm">Delete</a>
        </div>
      </div>
    {% endfor %}

    <a href="{% url 'create_new_todo' %}" class="todo new-todo">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
        </svg>
      </div>
    </a>
  </div>
{% endblock %}
