// COLORS
$red: linear-gradient(to right, #ff56bb, #ff8f77);
$purple: linear-gradient(to right, #6e56ff, #b073ff);
$green: linear-gradient(to right, #56c2ff, #48fe9c);

$black: #000000;
$dark: #191919;
$gray: #6b6b6b;
$gray-l: #f4f4f4;
$light: #ffffff;

// ========================================================================================
// SIZES

// $sizes: (
//     $sm: 320px,
//     $md: 768px,
//     $lg: 1024px,
//     $xl: 1440px
// );
// ---- ---- ----
// TO USE THESE:
// font-size: map-get($sizes, $sm);
// ---- ---- ---- ---- ---- ---- ----

$phone: 320px;
$tablet: 768px;
$desktop: 1024px;
$large: 1440px;

// ========================================================================================
// FLEX
@mixin flex($direction: row, $justify: center, $align: center, $gap: 10px) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}
// @include flex();   ->  default values
// @include flex(column, flex-start, flex-start, 20px);   ->   specific values
// ========================================================================================
// GRID
@mixin grid($columns, $size: 1fr, $gap: 10px, $rows: false) {
    display: grid;
    grid-template-columns: repeat($columns, $size);
    gap: $gap;

    @if $rows {
        grid-template-rows: repeat($rows, $size);
    }
}
// @include grid(3);   ->  default values
// @include grid(3, 100px, 20px, 2);   ->   specific values
// ========================================================================================
// ROUNDED CORNERS
@mixin rounded($width, $height, $radius: 50%) {
    width: $width;
    height: $height;
    border-radius: $radius;
}
// @include rounded(100px, 100px);   ->  default values
// @include rounded(50px, 50px, 10px);   ->   specific values
// ========================================================================================
