// COLORS
$red: linear-gradient(to right, #ff56bb, #ff8f77);
$purple: linear-gradient(to right, #6e56ff, #b073ff);
$green: linear-gradient(to right, #56c2ff, #48fe9c);

$black: #000000;
$dark: #191919;
$gray: #6b6b6b;
$gray-t: #6b6b6b60;
$gray-l: #f3f3f3;
$light: #ffffff;
$light-l: #fafafa;

// ========================================================================================
// SIZES

// $sizes: (
//     $sm: 320px,
//     $md: 768px,
//     $lg: 1024px,
//     $xl: 1440px
// );
// ---- ---- ----
// TO USE THESE:
// font-size: map-get($sizes, $sm);
// ---- ---- ---- ---- ---- ---- ----

$phone: 320px;
$tablet: 768px;
$desktop: 1024px;
$large: 1440px;

// ========================================================================================
// FLEX
@mixin flex($direction: row, $justify: center, $align: center, $gap: 10px) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}
// @include flex();   ->  default values
// @include flex(direction, justify, align, 20px);   ->   specific values
// ========================================================================================
// GRID
@mixin grid($gap: 10px, $columns: false, $rows: false, $size: 1fr, $align: center, $justify: center) {
    display: grid;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;

    @if $columns {
        grid-template-columns: repeat($columns, $size);
    }
    @if $rows {
        grid-template-rows: repeat($rows, $size);
    }
}
// @include grid();   ->  default values
// @include grid(columns:3, $size:100px);   ->   specific values
// ========================================================================================
// ROUNDED CORNERS
@mixin rounded($width, $height, $radius: 50%) {
    width: $width;
    height: $height;
    border-radius: $radius;
}
// @include rounded(100px, 100px);   ->  default values
// @include rounded(50px, 50px, 10px);   ->   specific values
// ========================================================================================
// WAVE EFFECT
@mixin wave($color1, $color2, $padding: false) {
    background: linear-gradient(to bottom, $color1, $color2);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 90%, 60% 80%, 30% 85%, 20% 80%, 0 75%);

    @if ($padding) {
        padding: $padding;
    } @else {
        padding: 20px 0 200px 0;
    }
}
// ========================================================================================
